
/* ==========================================================================
   my own custom style
   ========================================================================== */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Clear fix hack */
.clearfix:before, .clearfix:after {
    content: "";
    display: block;
    clear: both;
} 

html{
	font-family: 'Creepster', cursive;
}

body {
	padding-top: 50px;
/*	padding-bottom: 20px;*/
	font-family: 'Creepster', cursive;
	font-size: 22px;
}

.jumbotron{
  position: relative;
  margin-bottom: 0px;
  overflow: hidden;
}

a.navbar-brand.logo {
    color: white;
}

.logo{
	font-family: 'Ewert', cursive;
	font-size: 35px;
	color: white;
}

.backdrop{
	max-width: 100%;
	min-height: 620px;
  	background: url(../images/artist.jpg) no-repeat top center #131e27;
  /*	background-size: cover;
  	border: 1px solid black;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.intro{
  height: 200px;
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.2);
  margin-top: 150px;
  border-style: solid;
  border-color: rgba(250,255,255,0.7);
}

.intro p{
  text-align: center;
  padding-top: 60px;
  font-size: 38px;
  font-family: 'Creepster', cursive;
  color: white;
  letter-spacing: 2.5px;
}

.intro p:hover{
  color: rgba(255,51,51,0.8);
  transform:scale(2,1.6);
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#thumbnail:hover{
  transform:scale(1.25,1.25);
  opacity: 0.91;
}

.pushme{
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 5em;
  background-image: url(../svg/si-glyph-arrow-thick-thin-down.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.5);
  text-indent: -10em;
  overflow: hidden;
  border-radius: 3em 3em 0 0;
  height: 2.5em;
  transform: translate3d(0,0,0);
}

.pushme:hover{
  transform:translateY(5px);
  background-color: rgba(255,51,51,0.6);
}

.infodiv {
  position: relative;
  overflow: hidden;
      margin-top: 15px;
    margin-bottom: 15px;
}

.infotext{
  position: absolute;
  height: 200px;
  bottom: -100px;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 20px;
  opacity: 0;
  transition: bottom 0.3s, opacity 0.3s;
  text-align: center;
  font-family: 'Creepster', cursive;
  letter-spacing: 1.8px;
  border-style: solid;
  border-color: #ff0000 #00ff00 #0000ff rgb(250,0,255);
}

.infotextopen{
  opacity: 1;
  bottom: 0;
}

#map{
  width: 100%;
  height: 400px;

}

li{
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.bottompage{
  max-width: 100%;
  min-height: 630px;
    background: url(../images/artist3.jpg) no-repeat top center #131e27;
  /*  background-size: cover;
    border: 1px solid black;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.outro{
  height: 200px;
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.5);
  margin-top: 150px;
  border-style: solid;
  border-color: rgba(250,255,255,0.7);
}

.outro p{
  text-align: center;
  padding-top: 20px;
  font-size: 38px;
  font-family: 'Creepster', cursive;
}

.cta{
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding-top: 10px;
  font-family: 'Creepster', cursive;
}

.cta > a{
  color: black;
}

.cta > a:hover{
  color: green;
}

.card-header {
  background-color: rgb(128, 128, 128);
  height: 40px;
  border-radius: 5px;
}

.mb-0 {
  font-size: 24px;
  font-family: 'Creepster', cursive;
  padding: 5px;
}

a{
  color: white;
  letter-spacing: 1px;
}

a:focus, a:hover {
    color: #ff3333;
    text-decoration: none;
}

.col-md-6 > h2{
  font-family: 'Creepster', cursive;
  font-size: 50px;
  margin-top: -5px;
}

.card-body{
  padding-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.tothetop{
  background: rgba(255,255,255,0.6);
  display: block;
  width: 3em;
  height: 70px;
  border-radius: 3em 3em 3em 3em;
}

.tothetop:hover{
  transform:translateY(-10px);
}


#goHome {
  position: fixed;
  right: 40px;
  bottom: 30px;
  
}

footer {
  font-family: 'Creepster', cursive;
  font-size: 20px;
  background-color: #222;
  color: white;
  padding: 10px;
  text-align: center;
  height: 200px;

}

footer ul li {
  display: inline-block;
  list-style: none;
  margin: 0 10px 0 5px;
}

footer p {
  font-size: 21px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding-top: 20px;
  letter-spacing: 1.5px;
}

/*<!--- end of main page --->*/

/* ==========================================================================
   contact page
   ========================================================================== */

.toppage{
  max-width: 100%;
  min-height: 630px;
    background: url(../images/artist2.jpg) no-repeat top center #131e27;
  /*  background-size: cover;
    border: 1px solid black;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactintro{
  height: 200px;
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.2);
  margin-top: 150px;
  border-style: solid;
  border-color: rgba(250,255,255,0.7);
  width: 60%;
}

.contactintro p{
  text-align: center;
  padding-top: 60px;
  font-size: 38px;
  font-family: 'Creepster', cursive;
  color: white;
  letter-spacing: 2.5px;
}

.contactoutro{
  height: 200px;
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.2);
  margin-top: 150px;
  border-style: solid;
  border-color: rgba(250,255,255,0.7);
  width: 50%;
}

.contactoutro p{
  text-align: center;
  padding-top: 60px;
  font-size: 38px;
  font-family: 'Creepster', cursive;
  color: white;
  letter-spacing: 2.5px;
}

.contactoutro p:hover{
  transform: scale(2,1.5);
  color: rgba(255,51,51,0.7);
}


form{
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}

input, textarea{
  width: 100%;
  margin-bottom: 10px;
  border-radius: 3px;
  border: solid 1px #ccc;
  padding: 4px 7px;
}

#eml, #tel {
  width: 49%;
}

#tel{
  float: right
}

button {
  width: 35%;
  float: right;
  border-radius: 3px;
  border: rgba(255,255,255,0.6);
  padding: 4px 7px;
}

button:hover {
  background-color:light-blue;
}

.bottompage2{
  max-width: 100%;
  min-height: 610px;
    background: url(../images/artist4.jpg) no-repeat top center #131e27;
  /*  background-size: cover;
    border: 1px solid black;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(30%);
}
/* ==========================================================================
   end of contact page
   ========================================================================== */

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
   } 
  .backdrop {
        background-attachment: scroll;
    }  
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	  
}